.container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    font-size: 24px;
    color: #ffffff;
    width: 70%;
}

.tableContainer {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #dddddd;
    padding: 16px; /* Increase padding to make cells larger */
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table td img {
    max-width: 100%; /* Ensure images fit within their cells */
    height: auto; /* Maintain aspect ratio */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .desc {
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .title {
        text-align: center;
    }
}